services:
  postgres:
    image: postgres:16
    container_name: sensorsim-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: archiver
    ports:
      - "5432:5432"

  archiver:
    image: archiver:local
    container_name: sensorsim-archiver
    environment:
      ConnectionStrings__Postgres: Host=postgres;Port=5432;Database=archiver;Username=postgres;Password=postgres
      ASPNETCORE_URLS: http://0.0.0.0:8080
    ports:
      - "8081:8080"
    depends_on:
      - postgres

  sensor-simulator:
    image: sensorsimulator:local
    container_name: sensorsim-sensor
    environment:
      ArchiverUrl: http://archiver:8080
    depends_on:
      - archiver
