services:
  postgres:
    image: postgres:16
    container_name: sensorsim-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: archiver
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: sensorsim-redis
    ports:
      - "6379:6379"

  archiver:
    image: archiver:local
    container_name: sensorsim-archiver
    environment:
      ConnectionStrings__Postgres: Host=postgres;Port=5432;Database=archiver;Username=postgres;Password=postgres
      ASPNETCORE_URLS: http://0.0.0.0:8080
    ports:
      - "8081:8080"
    depends_on:
      - postgres

  sensor-manager:
    image: sensormanager:local
    container_name: sensorsim-sensormanager
    environment:
      ConnectionStrings__Postgres: Host=postgres;Port=5432;Database=archiver;Username=postgres;Password=postgres
      Kafka__BootstrapServers: kafka:29092
      Kafka__ConfigTopic: sensor-config-events
      ASPNETCORE_URLS: http://0.0.0.0:8080
    ports:
      - "8083:8080"
    depends_on:
      - postgres
      - kafka

  sensor-simulator:
    image: sensorsimulator:local
    container_name: sensorsim-sensor
    environment:
      ArchiverUrl: http://archiver:8080
      SensorManagerUrl: http://sensor-manager:8080
      Kafka__BootstrapServers: kafka:29092
      Kafka__Topic: measurements
      Kafka__ConfigTopic: sensor-config-events
    depends_on:
      - archiver
      - sensor-manager
    ports:
      - "8084:8080"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: sensorsim-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000


  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
    - zookeeper
    ports:
    - "9092:9092"     # host access
    - "29092:29092"   # optional; not required on host but useful for debugging
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    
  kafka-init:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - kafka
    entrypoint: ["/bin/sh","-c"]
    command: >
      "
      echo 'Waiting for Kafka...';
      cub kafka-ready -b kafka:29092 1 60;
      kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic measurements --partitions 1 --replication-factor 1;
      kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic sensor-config-events --partitions 1 --replication-factor 1;
      echo 'Topics ensured.';
      "


  controller:
    image: controller:local
    container_name: sensorsim-controller
    environment:
      Kafka__BootstrapServers: kafka:29092
      Kafka__Topic: measurements
      Redis__ConnectionString: redis:6379
      ASPNETCORE_URLS: http://0.0.0.0:8080
    ports:
      - "8082:8080"
    depends_on:
      - kafka
      - redis
